body {
    font-size: 25px;
    margin-left: 50px;
}

header {
    font-size: 20px;
    font-family: Arial;
    margin-top: 0px;
    text-align: center;

    color: #4993F4 ;
}

nav button {
    background-color: #1877F2;
    border-radius: 5px;
}
nav button:hover {
    background-color: gray;
}

nav button a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
}

article {
    width: 70%;
    border-right: 1px ridge gray;
    overflow: auto;
    color: white;    
    padding-right: 20px;
    padding-left: 15px;

    display: inline-block;
    min-width: 100px;
    background-color: rgb(63, 58, 58);
    opacity: initial;
}

article h2, h3 {
    color:orange;
}

article p {
    margin-top:45px;
}

.info {
    min-width: 10px;    
}

.info p {
    margin-top:40px;
}

.info table {
    position: relative;
}

.info table th, td {
    border: 2px ridge ;
    text-align: center;
}

.boxers img {
    width:275px;
}

.eyes img {
    width:275px;
}

.behavior {
    clear: both;
    margin-top: 150px;
}

.references {
    margin-left: 300px;

    text-align: center;
    clear: both;
    margin-top: 50px;
    width: 30%;
    border: 3px dashed #FFE8D9;
}

.references li {
    list-style-type: none;
}

.references li a {
    text-decoration:none;
}

img {
    float: left;
    margin: 15px;
}

section {
    margin-bottom: 80px;
}

section p, table {
    text-align: justify;
}

.article-video {
    display: flex;
}

aside {
    padding-left: 40px;
    color:black;

    width: 25%;
    position: absolute;
    display: inline-block;

    text-align: center;

    align-items: center;
}

.footer {
    display: flex;

    text-align: center;

    justify-content: center;
    align-items: center;

    
}

.footer img {
    width: 90px
}

.footer p {
    padding-right: 40px;
    color: #de9d25;
}
.footer h4 {
    margin-left:15px;
}

